

<div class="post_content">
        <header class="wall1" data-stellar-background-ratio="0.5">
          <h1 id="main_title"><%= @post.title %></h1>
        </header>
        <div class="text">
          <p><%= markdown @post.content %></p>
        </div>
    </div>
    <hr/>
    <div class="share_box">
      <p>Share <%= @post.title %> </p>
      <nav><%= render_shareable %></nav>
    </div>

<br>
<br>

<%= link_to "Edit", edit_post_path(@post)%> <!-- found with rake routes ! -->

<%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: 'Are you sure you want to delete?'} %>
