<!DOCTYPE html>
<html>
<head>
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="../../assets/stylesheets/font-awesome/css/font-awesome.min.css">


    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Oswald" rel="stylesheet">

    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>


  <title>Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="main_navigation" class="clearfix">
      <%= link_to "Corentin Lingier", root_path, class: 'name' %>
      <nav>
        <%= link_to "Posts", posts_path %>
        <a href="#">Contact</a>
      </nav>
</header>


<%= yield %>


<footer class="clearfix">
    <p> &copy; 2016 Corentin Lingier </p>
    <a href ="https://www.facebook.com/colingier" target= "_blank"><i class="fa fa-facebook"></i></a>
    <a href ="https://plus.google.com/101360957834459275295/" target= "_blank"><i class="fa fa-google-plus"></i></a>
    <a href ="http://github.com/Warez44" target= "_blank"><i class="fa fa-github"></i></a>
</footer>
</body>
</html>
