<!DOCTYPE html>
<html>
<head>

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Oswald" rel="stylesheet">

    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>


  <title>Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="main_navigation" class="clearfix">
      <a href="#" class="name">Corentin Lingier</a>
      <nav>
        <%= link_to "Posts", posts_path %>
        <a href="#">Projects</a>
        <a href="#">Contact</a>
      </nav>
</header>


<%= yield %>


<footer class="clearfix">
    <p> &copy; 2016 Corentin Lingier </p>
    <a href ="#"><i class="fa fa-facebook"></i></a>
    <a href ="#"><i class="fa fa-google-plus"></i></a>
    <a href ="#"><i class="fa fa-twitter"></i></a>
</footer>
</body>
</html>
